.stock_display p {
    font-size: 300%;
    position: relative;

}

.banner {
    height: 200px;
    overflow: hidden;

}

.text_box {
    transform: translate(0px, 10px);


}


/* left is right
right is left
top is bottom
bottom is top */

